@page "/codegen"

<GridRow Style="height:100vh;
                position:fixed;
                top:65px;
                padding:12px;
                width:100%;
                background-color:antiquewhite">
    <GridRow Style="width:100%;position:fixed;top:68px;">
        <Flex Gap="FlexGap.Middle" Direction="FlexDirection.Horizontal"
        Align="FlexAlign.Center">
            <div>Report Id</div>
            <AntDesign.Input Placeholder="Basic usage"
            Width="300px"
            @bind-Value="@reportId">
            </AntDesign.Input>
            <Button Type="ButtonType.Primary"
            OnClick="@GetSpecification">
                Get Specification Json
            </Button>

            <div style="width:30px;boarder-right:1px solide gray;" />

            <div>Repo Path</div>
            <AntDesign.Input Placeholder="Root Path"
            Width="300px"
            @bind-Value="@codingRootPath">
            </AntDesign.Input>
        </Flex>
    </GridRow>
    <GridRow Style="width:100%;height:calc(100vh-120px); position:fixed;top:120px;padding-right:20px;"
    Gutter="8">
        <GridCol Span="6">
            <Flex Direction="FlexDirection.Vertical" Gap="FlexGap.Middle">
                <AntDesign.Button OnClick="@SwitchToSpec">1. Specification</AntDesign.Button>
                <AntDesign.Button OnClick="@SwitchToMenuItems">2. MenuItems</AntDesign.Button>

            </Flex>
        </GridCol>
        <GridCol Span="18" 
        Style="height:80vh;overflow:auto;padding:12px;
                        border:1px solid gray;">
            @if (activeComponent == 0)
            {
                <KnolwedgeBase.DesktopApp.Components.Components.CodeGen.Specification 
                ReportId="@reportId"
                Spec="@specification" />
            }
            else if (activeComponent == 1)
            {
                <KnolwedgeBase.DesktopApp.Components.Components.CodeGen.MenuItems 
                ReportId="@reportId"
                        CodingRootPath="@codingRootPath"
                Spec="@specification" />
            }
        </GridCol>
    </GridRow>
</GridRow>



@code {

    string reportId { get; set; }
    string codingRootPath { get; set; }
    bool specLoading { get; set; }
    Specification specification { get; set; }
    string tabPosition { get; set; }
    string getSpec { get; set; }
    int activeComponent { get; set; }

    protected override async Task OnInitializedAsync()
    {
        specification = new()
            {
                Features = new()
            };
        activeComponent = 0;
    }

    public void SwitchToSpec()
    {
        activeComponent = 0;
    }

    public void SwitchToMenuItems()
    {
        activeComponent = 1;
    }

    public async Task GetSpecification()
    {
        specLoading = true;
        specification = await ApiCaller.GetSpecificationAsync(reportId);
        specLoading = false;

        //FileAgent.CreateAndInitFile(@"C:\Users\hu-be\Downloads\testas\test.txt", "");
    }
}
