@inject CodeGenStateContainer codeGenStateContainer

<GridRow>
    <Flex Direction="FlexDirection.Vertical" Gap="FlexGap.Middle" Style="width:100%">

        @if (errorMessage != "")
        {
            <Alert Message="@errorMessage" Type="AlertType.Error" />
        }

        <GridRow>
            <h2>@codeGenStateContainer.ActiveFeatureName</h2>
            <h2> -- </h2>
            <h2>@codeGenStateContainer.ActiveFunctionalityName</h2>
            <br/>
            <p>@codeGenStateContainer.ActiveFunctionalityFilePath</p>
        </GridRow> 
        <GridRow> 
            <Button Type="ButtonType.Primary" 
            OnClick="@GenerateCodeAsync"> 
                Generate Code
            </Button> 
        </GridRow> 
        @if(isLoading == true) 
        { 
            <GridRow> 
                <Spin> 
                </Spin> 
            </GridRow> 
        } 
        else 
        { 
            <Flex Direction="FlexDirection.Vertical" Gap="FlexGap.Small" Style="width:100%"> 
                <TextArea Rows="13" Style="width:100%"
                @bind-Value="@codeGenStateContainer.ActiveFunctionalityCode"/>
                <Button Type="ButtonType.Primary" 
                OnClick="@WriteCodeToFile"> 
                    Write Code to File 
                </Button> 
                @if (fileWroteSuccess == true)
                {
                    <Alert Message="Code Updated to File Successfully" Type="AlertType.Success" />
                }
            </Flex> 
        }
    </Flex>
</GridRow>

@code {

    private bool isLoading { get; set; }
    private string errorMessage { get; set; }
    private bool fileWroteSuccess { get; set; }

    protected override void OnInitialized()
    {
        errorMessage = "";
        codeGenStateContainer.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        codeGenStateContainer.OnChange -= StateHasChanged;
    }

    public async Task GenerateCodeAsync()
    {
        try
        {
            isLoading = true;
            errorMessage = "";
            var newCode = await ApiCaller.GenerateFunctionalityCodeAsync(
                codeGenStateContainer.ReportId,
                codeGenStateContainer.ActiveFeatureId,
                codeGenStateContainer.ActiveFunctionalityId);

            var reportCode = (await ApiCaller.GetReportCodeByReportId(codeGenStateContainer.ReportId));
            codeGenStateContainer.CodeForReport = reportCode.Code;
            codeGenStateContainer.ActiveFunctionalityCode = newCode;
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
        finally
        {
            isLoading = false;
        }
    }

    public void WriteCodeToFile()
    {
        try
        {
            fileWroteSuccess = false;
            isLoading = true;

            FileAgent.RewriteFileContent(
                codeGenStateContainer.ActiveFunctionalityFilePath,
                codeGenStateContainer.ActiveFunctionalityCode);

            fileWroteSuccess = true;
        }
        catch(Exception exp)
        {
            errorMessage = exp.Message;
        }
        finally
        {
            isLoading = false;
        }
        
    }
}
